
{% extends 'base.html' %}

{% block content %}

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<body bgcolor="#00ace6">
	<center>
			<h1>Sorry {{name}}! There is something wrong!</h1>
			<h1>Please look your result manually!</h1>
	</center><br>
	
	<br>

	<hr>

	<!-- table variable is in HTML format, to print HTML code,
		 we need to declare it as safe -->

	{% autoescape on %}
	    {{ table|safe }}
	{% endautoescape %}
	<hr>

</body>

{% endblock %}


